{% extends "projects/base.html" %}

{% block title %}Projects editor{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', path='css/projects.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', path='css/input.css') }}">
{% endblock %}

{% block projects %}
<h2 class="page-title">{{ "Edit " ~ project['name'] ~ " project" if operation == "update" else "Create new project" }}</h2>

<div>
  {% if message['content'] %}
    <p style="color: {% if message['is_error'] %}red{% else %}green{% endif %}">
      {{ message['content'] }}
    </p>
  {% endif %}
</div>

<form action="{{ url_for('update_project_info', project_id=project['id']) if operation == 'update' else url_for('create_new_project') }}" method="post">
  <div class="toolbar">
    <div>
      <button type="submit" class="btn btn-primary btn-small">{{"Update" if operation == 'update' else "Create" }}</button>
    </div>
  </div>

  <div class="input-form card">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="{{ project['name'] }}" autocomplete="off" required>

    <label for="description">Description:</label>
    <input type="text" id="description" name="description" value="{{ project['description'] }}" autocomplete="off" required>
  </div>
</form>

<form action="{{ url_for('get_projects_dashboard') }}" method="get">
  <div style="margin-top: 12px;">
    <button type="submit" class="btn btn-ghost btn-small">Return to the dashboard</button>
  </div>
</form>
{% endblock %}