{% extends "auth/base.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', path='css/input.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', path='css/buttons.css') }}">
{% endblock %}

{% block form %}

<form action="{{ url_for('login') }}" method="post">
    <div class="input-form card">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>

    <div>
        <button type="submit" class="btn btn-primary btn-small">Log in</button>
    </div>
</form>

<form action="{{ url_for('auth') }}" method="get">
    <div>
        <button type="submit" class="btn btn-ghost btn-small">Sign up</button>
    </div>
</form>

{% endblock %}